<div class="container-fluid section-homepage-header">
  <div class="container">
    <div class="nav nav-bar">
      <img src="/img/aurora_logo_dkbkg.svg" width="300"
           alt="Transparent Aurora Scheduler logo with dark background"/>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://aurora-scheduler.readthedocs.io/en/latest/">Documentation</a></li>
        <li><a href="https://github.com/aurora-scheduler/aurora/releases">Downloads</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h1>Aurora Scheduler is a fork of <a href="https://aurora.apache.org">Apache Aurora</a>, a Mesos framework for <br />long-running services and cron jobs.</h1>
      </div>
    </div>
  </div>
</div>